* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    /* display: block; */
}

ul, ol, menu {
    list-style: none;
}

.content-wrapper {
    flex-grow: 1;
    overflow: hidden;
    background-color: #141922;
    display: flex;
}

.sidebar {
    flex-basis: 50px;
    overflow: auto;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-content {
    flex-grow: 1;
    overflow: auto;
}

/* SIDEBAR */
.sidebar > * {
    border: 1px solid salmon;
}
.sidebar > *:not(.sidebar-nav) {
    padding: 0 20px;
}

.sidebar .sidebar__logo {
    padding-top: 20px;
}

.sidebar .sidebar__logo img {
    height: 40px;
}

.sidebar-nav .menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 20px;
}

.sidebar-nav .menu-item img {
    width: 20px;
}

.sidebar .playlist {
    flex-grow: 1;
}



@media (min-width: 576px) {
    .sidebar {
        flex-basis: 230px;
    }
}




/* TOOLBAR */
.toolbar {
    min-height: 90px;
    background-color: #282828;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.toolbar .tools-left, 
.toolbar .tools-right {
    flex-basis: 230px;
    border: 1px solid red;
}

.toolbar .tools-middle {
    flex-basis: 60%;
    flex-grow: 1;
    border: 1px solid goldenrod;
}

.tools-middle .bar {
    height: 4px;
    width: 30%;
    background-color: #ffffff;
}

.tools-right .bar {
    height: 4px;
    width: 100px;
    background-color: #ffffff;
}

.toolbar .tools {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0 0.75rem;
}

.toolbar .tools-middle .tools {
    justify-content: center;
}

.tools-left .tool-item:first-child {
    margin-right: auto;
}

.toolbar .tool-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.toolbar img {
    width: 42px;
    height: 42px;
}

.toolbar .band-name,
.toolbar .song-name {
    font-weight: 700;
}

.toolbar .band-name {
    font-size: .75rem;
    color: #ffffff;
}

.toolbar .song-name {
    font-size: .625rem;
    text-transform: uppercase;
}

.toolbar .tools-left {
    color: #D2D2D2;
}

.toolbar .play {
    font-size: 1.5rem;
}