* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    display: block;
}

ul, ol, menu {
    list-style: none;
}

.content-wrapper {
    flex-grow: 1;
    background-color: #141922;
    display: flex;
}

.main-header {
    width: 230px;
    background-color: #000000;
}

.main-content {
    flex-grow: 1;
}

/* TOOLBAR */
.toolbar {
    min-height: 90px;
    background-color: #282828;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar .tools {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.toolbar img {
    width: 42px;
    height: 42px;
}

.toolbar .tool-item {
    display: flex;
    gap: 1rem;
}